<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <targets>
    <target name="CassandraTarget" xsi:type="Cassandra">
	  <!-- Place nodes and keyspace definitions here -->
	  <!-- See https://github.com/jeffmccormick/nlog-cassandra/wiki/Configuration for syntax -->
	  
	  <!-- Example node -->
      <!-- <node address="127.0.0.1" /> -->
	  
	  <!-- Example keyspace with tables -->
      <!-- <keyspace name="data"> -->
        <!-- <table name="log"> -->
          <!-- <column name="partition_id" dataType="Int32" layout="${date:universalTime=true:format=yyyyMMdd}" /> -->
          <!-- <column name="timestamp" dataType="DateTime" layout="${date:universalTime=true}" /> -->
          <!-- <column name="severity" dataType="SByte" layout="${level:format=Ordinal}" /> -->
          <!-- <column name="uuid" dataType="Int32" layout="${guid}" /> -->
          <!-- <column name="message" dataType="String" layout="${message}" /> -->
        <!-- </table> -->
      <!-- </keyspace> -->
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="CassandraTarget" />
  </rules>
</nlog>